.chinhanh{
    width:80px;
    height:80px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.chinhanh2{
    width:300px;
    height:300px;
   
    margin-top: 1px;
    margin-bottom: 5px;

}
.thuonghieune{
    width:60px;
    height:60px;
}
.chinhchu{
    font-size: 20px;
    font-weight: bold;
}
.giatien{
    color: red;
    font-size: 20px;
}

.bao-hanh {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-ttsp {
    width: 100%;
  }

  .contaitner-chinhanh {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background: radial-gradient(172.57% 462.82% at -65.11% 141.3%, rgb(137 123 135 / 52%) 0.56%, rgb(86 71 70) 100%);
  }

  .chinhchu {
    text-align: center;
  }

  .btn-chinhchu {
    display: flex;
    justify-content: flex-start;
    /* gap: 0 67px; */
    flex-direction: column;
    gap: 20px;
  }

  .trangtt {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .textbox-2 {
    width: 100%;
    text-align: center;
  }

  .row-container {
    justify-content: center;
    background: #ffffff;
  }

  .canhchu {
    background: black;
  }

  @media screen and (max-width: 414px) {
    .navbar-container {
      display: none;
    }

    .textbox {
      width: 100%;
    }

    .textbox h5,
    .textbox p {
      text-align: center;
    }

    .right-f1 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .textbox-2 h5 {
      text-align: center;
    }
  }